@model IEnumerable<web_app.Models.Postagem>

<p>
    <a asp-action="Create"><input type="submit" value="Nova Postagem" class=" btn btn-primary"></a>
</p>
<div class="container">
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <div class="card text-center bg-light mb-2">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title fw-bold">
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img src="~/imgs/Postagem/@item.UrlImagem" alt="Imagem" style="max-height:400px; max-width:400px; padding-bottom:20px;" />
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title fw-bold">
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </h5>
                    <p>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </p>
                    <div class="card-text fw-bold">
                        <img src="~/imgs/icons/like.svg" />
                        @Html.DisplayFor(modelItem => item.Curtidas)
                    </div>
                </div>
            </div>
            @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }," ?|||| ")
        ;*@
            @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new {@class="btn btn-primary mb-4"})
            ;
        }
    </div>
</div>